[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
numpy = "*"
opencv-python = "*"
opencv-contrib-python = "*"
mysql-connector-python = "*"
tqdm = "*"
pytz = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
