{% extends "schedule/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="d-flex justify-content-end">
    <div class="">
        <a href="{% url 'schedule:logout' %}">Logout</a>
    </div>
</div>
<div class="d-flex justify-content-between">
    <div class="">Welcome, {{ user.email|default:"None" }}</div>
    <div class="">
        Last Login: {{ last_login|default:"dd/mm/yyyy HH:MM:SS" }}
    </div>
</div>


<!-- this section will appear when there is class less than one hour -->
{% if upcoming_classes %}
{% for upcoming_class in upcoming_classes %}
<section>
    <div class="alert alert-primary" role="alert">
        You have class in less than one hour
    </div>
    <div>Course code: {{ upcoming_class.code|default:"Not specified" }}</div>
    <div>Course name: {{ upcoming_class.name|default:"Not specified" }}</div>
    <div>Location: {{ upcoming_class.location|default:"Not specified" }}</div>
    <div>Time: {{ upcoming_class.start_time }} - {{ upcoming_class.end_time  }}</div>
    {% if upcoming_class.lecturers %}
    <div>Lecturers: {{ upcoming_class.lecturers }}</div>
    {% endif %}
    {% if upcoming_class.tutors %}
    <div>Tutors: {{ upcoming_class.tutors }}</div>
    {% endif %}
    <div>
        Teacher's message: {{ upcoming_class.teacher_message|default:"Not specified" }}</div>
    <div>
        Zoom link:
        {% if upcoming_class.zoom_link %}
            <a href='{{ upcoming_class.zoom_link }}' target="_blank">{{ upcoming_class.zoom_link }}</a>
        {% else %}
            Not available
        {% endif %}
    </div>
    <div>
        Course material: 
        {% if upcoming_class.course_material %}
            <a href="{{ upcoming_class.course_material }}" target="_blank">{{ upcoming_class.course_material }}</a>
        {% else %}
            Not available
        {% endif %}
    </div>
    <button type="submit" class="btn btn-primary" onclick="send_email()">Send to email</button>
    
</section>
{% endfor %}

{% endif %}


{% include "schedule/personal_timetable.html" %}

{% endblock %}