{% load static %}
<!DOCTYPE html>


<head>
    <title>COMP3278 Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'login/main.css' %}">
</head>

<body>
    <div class="container  my-5 mx-5">
        <div class="row">
            <div class="col-md-6 ">
                <img src="{% static 'login/night.png' %}" class="img-fluid" alt="night">
            </div>
            <div class="col-md-6 px-3">
                <h1 class="pt-5">COMP3278 HKU ICMS</h1>

                <h2>Sign In</h2>


                <form action="login" method="post" id="login_form" enctype ="multipart/form-data">
                    {% csrf_token %}
                    {% if error %}
                        <p style="color:red;">{{ error }}</p>
                    {% endif %}
                    <div class="form-row">
                        <div class="col-lg-10 mb-3">
                            <input type="text" name="email" class="form-control p-3" placeholder="Enter your HKU email">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-10 mb-3">
                            <input type="password" name="password" class="form-control p-3" placeholder="Enter your password">
                        </div>
                    </div>
                    

                    <!-- <a href=" # ">Forget Password?</a> -->
                    <div class="form-row">
                        <div class="col-lg-10 my-3">
                            <button type="submit" class="btn btn-primary btn-block login_btn">Login</button>
                        </div>
                    </div>

                    <!-- <p>Don't have an account? <a href=" # ">Sign Up</a></p> -->
                </form>
                <button type="button" class="btn btn-secondary" id="face_auth_button">Face ID</button>
                <video id="video" width="600" height="400" autoplay hidden></video>
                <!-- <canvas id="canvas" width="600" height="400" hidden></canvas> -->
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
<script>
var video = document.getElementById('video');
var recorder;
var face_video = [];

document.getElementById('face_auth_button').addEventListener("click", function() {
    if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia && video.hidden) {
        function capture() {
            video.pause();
            recorder.stop();
            video.srcObject.getTracks().forEach( (track) => { track.stop(); });
            video.hidden = !video.hidden;
        }
        navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
            video.srcObject = stream;
            recorder = new MediaRecorder(stream);
            video.play();
            recorder.start();
            video.hidden = !video.hidden;
            recorder.ondataavailable = (e) => { face_video.push(e.data); };
            recorder.onstop = (e) => {
                const video_blob = new Blob(face_video);
                const face_auth_file = new File([video_blob], "face_auth.mp4");
                const data_transfer = new DataTransfer();
                data_transfer.items.add(face_auth_file);

                var face_auth = document.createElement("input");
                face_auth.setAttribute("type", "file");
                face_auth.setAttribute("name", "face_auth");
                face_auth.hidden = true;
                face_auth.files = data_transfer.files;
                document.getElementById("login_form").appendChild(face_auth);
                document.forms["login_form"].submit();
            };
            setTimeout(capture, 4000);
        });
    }
});
</script>
<!-- Links for the logos
    clouds
https://www.flaticon.com/free-icon/cloud-computing_892300?term=cloud%20computing&page=1&position=23&page=1&position=23&related_id=892300&origin=tag
https://www.flaticon.com/free-icon/clouds_414927?term=cloud&page=1&position=2&page=1&position=2&related_id=414927&origin=search
Moon
https://www.flaticon.com/free-icon/moon_1823324?term=moon&page=1&position=6&page=1&position=6&related_id=1823324&origin=search
-->