{% extends "schedule/base.html" %}

{% block title %}Logs{% endblock %}

{% block content %}
<div class="d-flex justify-content-end">
    <div>
        <a href="{% url 'schedule:home' %}">Home</a>
    </div>
</div>
<div class="d-flex justify-content-end">
    <div>
        <a href="{% url 'schedule:logout' %}">Logout</a>
    </div>
</div>
<p class="text-center">Welcome to the log page</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Contents</th>
            <th scope="col">Timestamps</th>
        </tr>
    </thead>
    <tbody>
        {% for log in log_list %}
        <tr>
            <td>{{ log.content }}</td>
            <td>{{ log.timestamp }}</td>
        </tr>
        {% empty %}
        <tr>
            <th scope="row" colspan="3" class="text-center">There is no logs to view</th>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>

    </tfoot>
</table>
{% endblock %}