{% block content %}
{%load static%}
<link rel="stylesheet" href="{% static 'home/timetable.css' %}">
<p class="text-center">Timetable</p>
<table class="table" style="table-layout:auto;">
  <colgroup>
    <col span="1" style="background-color:grey">
    <col span="5" style="background-color:whitesmoke">
  </colgroup>
  <thead>
    <tr>
      <th scope="col">Time</th>
      <th class="weekday" scope="col">Monday</th>
      <th class="weekday" scope="col">Tuesday</th>
      <th class="weekday" scope="col">Wednesday</th>
      <th class="weekday" scope="col">Thursday</th>
      <th class="weekday" scope="col">Friday</th>
    </tr>
  </thead>
  <tbody>
    {{timetablestr|safe}}
  </tbody>
  <tfoot></tfoot>
</table>

{% endblock %}