{% extends "schedule/base.html" %}

{% block title %}Timetable{% endblock %}

{% block content %}
<p class="text-center">Timetable</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
        </tr>
    </thead>
    <tbody>
        {% for time in time_period %}
        <tr>
            <th scope="row">{{ time }}</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>

    </tfoot>
</table>
{% endblock %}